/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
    margin: 0;
    background-color: #4682B4;
}

h1,h2{
    font-family: 'Libre Baskerville', serif;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

p{
    font-family: 'Quicksand', sans-serif;
}

header{
    width: 100%;
    text-align: center;
    color: whitesmoke;

}
main{
    margin:1rem;

}

section{
    background-color: aliceblue;
    padding: 1.2rem;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #B0E0E6;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: .5rem;
    
}

.cards img{
    border-radius: 5px;
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.7);
    width: 100%;
}